body {
   background-image: url("https://www.moma.org/d/assets/W1siZiIsIjIwMjAvMDMvMTMvODl6YnQ0MjZ1eF9GZW5lb25fU3RvcF82X01hdGlzc2VfTGFuZHNjYXBlX25lYXJfQ29sbGlvdXJlX3VwZGF0ZWQuanBnIl0sWyJwIiwiY29udmVydCIsIi1xdWFsaXR5IDkwIC1yZXNpemUgMjAwMHgyMDAwXHUwMDNlIl1d/Feneon%20Stop%206_Matisse_Landscape%20near%20Collioure_updated.jpg?sha=0e5a975e8e62412b");
  background-size: cover;
  background-repeat: no-repeat;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 6px solid rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(224, 214, 182, 0);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 10px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border: 6px solid rgb(0, 0, 0);
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}